.Navbar {
	padding: 20px;
	background: #114e40;
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	button {
		display: block;
	} 
	&__header {
		flex: 0 0 auto;
		margin-bottom: 10px;
		button {
			width: 30px;
			height: 30px;
			background: transparent;
			border: none;
			font-size: 0;
			cursor: pointer;
			border-radius: 0;
			background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22300%22%20width%3D%22300%22%20viewBox%3D%220%200%20512%20512%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22none%22%2F%3E%3Cg%20class%3D%22currentLayer%22%3E%3Cpath%20d%3D%22M320%20277.336c-11.797%200-21.332%209.559-21.332%2021.332v85.336c0%2011.754-9.559%2021.332-21.336%2021.332h-64v-320c0-18.219-11.605-34.496-29.055-40.555l-6.316-2.113h99.371c11.777%200%2021.336%209.578%2021.336%2021.336v64c0%2011.773%209.535%2021.332%2021.332%2021.332s21.332-9.559%2021.332-21.332v-64c0-35.285-28.715-64-64-64H48c-.812%200-1.492.363-2.281.469-1.028-.086-2.008-.47-3.051-.47C19.137.004%200%2019.138%200%2042.669v384c0%2018.219%2011.605%2034.496%2029.055%2040.555L157.44%20510.02c4.352%201.343%208.68%201.984%2013.227%201.984%2023.531%200%2042.664-19.137%2042.664-42.668v-21.332h64c35.285%200%2064-28.715%2064-64v-85.336c0-11.773-9.535-21.332-21.332-21.332zm0%200%22%20class%3D%22selected%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M505.75%20198.254l-85.336-85.332a21.33%2021.33%200%2000-23.25-4.633C389.207%20111.598%20384%20119.383%20384%20128.004v64h-85.332c-11.777%200-21.336%209.555-21.336%2021.332%200%2011.777%209.559%2021.332%2021.336%2021.332H384v64c0%208.621%205.207%2016.406%2013.164%2019.715a21.335%2021.335%200%200023.25-4.63l85.336-85.335c8.34-8.34%208.34-21.824%200-30.164zm0%200%22%20class%3D%22selected%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
			background-size: cover;
		}
	}
	&__avatar {
		width: 156px;
		border: 2px solid white;
		margin-bottom: 10px;
	}
	&__content {
		flex: 0 0 auto;
	}
	&__link {
		display: block;
		color: white;
		text-decoration: none;
		font-size: 18px;
		margin-bottom: 10px;
		&:hover {
			font-weight: bold;
		}
		&_active {
			color: gold;
			font-weight: bold;
		}
	}
	&__footer {
		flex: 0 0 auto;
		color: white;
	}
}