.Buyers {
	&__table {
		border-collapse: collapse;
		th, td {
			border: 1px solid black;
		}
	}
	&__paginationItem {
		cursor: pointer;
		&_active {
			cursor: default;
			font-weight: bold;
		}
	}
}