.Buyers {
	&__table {
		border-collapse: collapse;
		th, td {
			border: 1px solid #114e40;
		}
	}
	&__paginationItem {
		cursor: pointer;
		&_active {
			cursor: default;
			font-weight: bold;
		}
	}
	&__filter input {
		width: 80px;
	}
	&__buttons td {
		text-align: center;
	}
}
